@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}


.header{
    width: 100%;
    height: 58px;
    background-color: #23856D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* grid with 3 columns of small boxes and 3 rows */
.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

/* smaller screen header hidden */

@media screen and (max-width: 600px) {
    .header {
        display: none;
    }
}